/*
* Erin Kelleher
* Due Date
* Favorite Things
*/

/* The universal selector */

* {

}

/* Body attributes here */

body {
    background-color: aquamarine
}
img { width: 200px; height: 100px; }
#dog { float: left; width: 300px; height: 200px; }
#dogfig { float: left; }
#pasta { float: left; width: 350px; height: 250px; }
#pastafig { float: left; }
#polevault { float: left; width: 200px; height: 250px; }
#polevaultfig { float: left; }